body {
    background-color:#d5dfff;
    color: #5597ff;
    text-Align: Center ;
    font-family: georgia;    
    font-size: 20px ;    
}
header {
    background-color: #d5f4ffb5;
    border: 2px solid black;
    padding: 45px;
    margin: 30px ;
}

nav {
    background-color: #ffffff;
    
}

.caja {
    background-color: #fff4d5;
    color: purple;
}

footer {
    background-color: #ffaab5;
}

#pie{
    background-color: #80ffd6 ;
}